*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 100vh;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 0;
    border: 0.5px solid lightgray;
}
.form__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid lightgrey;
}
.form__row>div{
    border-right: 0.5px solid lightgray;
    padding: 20px 10px;
}
.form__name label, .form__number label{
    font-weight: 500;
    font-size: 24px;

}
.form__name input, .form__number input{
    font-size: 18px;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid lightgray;
}
.form__name input:hover, .form__number input:hover{
    border: 1px solid hsl(158, 36%, 37%);
}
.form__submit{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
    width: 30%;
}
.form__submit button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    padding: 15px 15px;
    cursor: pointer;
}
.form__add button, .form__remove button{
    background-color: #33ab5c;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 30px;
    width: 80px;
    text-align: center;
    padding: 15px 15px;
    cursor: pointer;
}
.form__add{
    border-right: none!important;
    display: none;
}
.add__button{
    cursor: pointer;
}
